@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.company-values {
  padding: 75px 0;
}

h2 {
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 42px;
  line-height: 1.4;
}

.value-content-wrapper {
  display: flex;
  margin: 0 150px;
  flex-wrap: wrap;
  height: 60vh;
}

.value-image-container {
  background-image: url(../images/passion.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  flex-grow: 3;
  flex-basis: 0;
}

.value-image-container a {
  text-align: center;
  color: #313131;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.value-container {
  height: 100%;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 15px 15px 0;
  padding: 60px;
  flex-grow: 1;
  flex-basis: 0;
}

#value-icon-container {
  font-size: 72px;
  margin-bottom: 15px;
}

.value-container h3 {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}

.value-container p {
  text-align: center;
  margin-bottom: 30px;
}


.value-button-container {
  margin: 30px;
  text-align: center;
}

button {
  border-width: 0;
  background-color: inherit;
  font-size: 32px;
  transition: .3s;
  opacity: .5;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}